<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atelie JuLoCa</title>
    <link rel="stylesheet" href="../static/layout.css">
   <link rel="stylesheet" href="../static/geral.css">
    


    <!-- footer -->
</head>
<body>
  
     <!-- header -->
     <header class="header-jlc">
        <div class="header-logo">
            <img src="../static/img/logo.png" alt="logo" width="300px" >
        </div>
        <nav class="header-topicos">
            <ul class="header-lista">
                <li><a href=""></a>teste</li>
                <li><a href=""></a>teste</li>
                <li><a href=""></a>teste</li>
                <li><a href=""></a>teste</li>
                <li><a href=""></a>teste</li>
            </ul>
        </nav>
     </header>
     

    
</body>
</html>