/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */

body{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    background: linear-gradient(
        135deg,
        #ff9d42,
        #ff6f00,
        #ffd6b0
    );
}



body::before{
    content: "";

    position: absolute;

    width: 450px;
    height: 450px;

    background: rgba(255,255,255,0.12);

    border-radius: 50%;

    filter: blur(120px);

    top: -100px;
    right: -100px;
}

body::after{
    content: "";

    position: absolute;

    width: 500px;
    height: 500px;

    background: rgba(255,255,255,0.10);

    border-radius: 50%;

    filter: blur(120px);

    bottom: -120px;
    left: -120px;
}

/* CONTAINER */

.container{
    position: relative;
    z-index: 1;
}

/* CARD */

.cadastro-card{
    width: 430px;

    padding: 40px;

    border-radius: 40px;

    background: rgba(255, 245, 235, 0.22);

    backdrop-filter: blur(15px);

    box-shadow: 0 8px 32px rgba(0,0,0,0.15);
}


.user-icon{
    width: 120px;
    height: 120px;

    margin: 0 auto 40px;

    border-radius: 50%;

    background: rgba(255,255,255,0.18);

    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon i{
    font-size: 55px;
    color: #fff1e6;
}

/* INPUTS */

.input-box{
    width: 100%;

    display: flex;
    align-items: center;

    border-bottom: 2px solid rgba(255,255,255,0.7);

    margin-bottom: 28px;
    padding-bottom: 10px;
}

.input-box i{
    font-size: 18px;

    color: #ff6a00;

    margin-right: 15px;
}

.input-box input{
    width: 100%;

    border: none;
    outline: none;

    background: transparent;

    font-size: 18px;

    color: #7a3b00;
}

.input-box input::placeholder{
    color: #9b5a20;
}


button{
    width: 100%;
    height: 60px;

    margin-top: 20px;

    border: none;
    border-radius: 18px;

    background: linear-gradient(
        90deg,
        #ff5e00,
        #ff9500
    );

    color: white;

    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;

    cursor: pointer;

    transition: 0.3s;
}

button:hover{
    transform: scale(1.03);

    box-shadow: 0 0 20px rgba(255, 111, 0, 0.45);
}


.login-link{
    text-align: center;

    margin-top: 30px;

    color: #7a3b00;

    font-size: 18px;
}

.login-link a{
    color: #ff6a00;

    text-decoration: none;

    font-weight: bold;
}

.login-link a:hover{
    text-decoration: underline;
}

/* RESPONSIVO */

@media(max-width: 500px){

    .cadastro-card{
        width: 90%;
        padding: 30px 25px;
    }

    .user-icon{
        width: 100px;
        height: 100px;
    }

    .user-icon i{
        font-size: 45px;
    }

    .input-box input{
        font-size: 16px;
    }

    button{
        height: 55px;
        font-size: 18px;
    }
}