*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #fff9f2;
}
/* Carrossel */
.carousel-img {
    height: 70vh;
    object-fit: cover;
}

/* Faixa destaque */
.destaques{
    background-image: url(img/destaques.png);
    width: 100vw;
    height: 20vh;  
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: #7a3b00;
    font-family:'Franklin Gothic Medium';
    
}

/* Destaque amigurumi */

.info-section{
    background-color: #fff9f2;
    border-radius: 20px;
    border: 5px solid #CE7E8D; /* Detalhe lateral */
    color: #CE7E8D;
}


/* Cards */
.card{
    height: 30vh;
    padding-top: 20px;
    display: flex;
    align-items: center;
    background-color: #fff9f2;
    border-color: #CE7E8D;
  

    /* linha em cima do texto */
    text-decoration: overline;
    text-decoration-color: #CE7E8D; /* Cor da linha */
    text-decoration-thickness: 4px; /* Espessura da linha */
    text-underline-offset: 6px; /* Distância entre o texto e a linha */
}

.card-body{
    padding-top: 40px;
    color: #7a3b00;

}

/* Botão */

.btn{
    border-radius: 5px;
    border: none;
    padding: 8px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium';
    background-color: #CE7E8D;
}

.btn:hover{
    background-color: #c06e7d;
    color: #ffffff;
    transform: translateY(-2px); /* Dá um leve efeito de "levantar" */
    box-shadow: 0 6px 12px rgba(122, 59, 0, 0.2);
}

.solucao{
    padding-bottom: 50px;
}

