<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atelie JuLoCa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/layout.css">
   <link rel="stylesheet" href="../static/geral.css">
   {%block css_pessoal%} {% endblock %}
    


</head>
<body>
  
     <!-- header -->
     <header class="header-jlc">
        <div class="header-logo">
            <img src="../static/img/logo.png" alt="logo" width="300px" >
        </div>
        {%for categoria in categoria%}
        <nav class="header-topicos">
            <ul class="header-lista">
                <li><a href=""></a>{{categoria.nome_categoria}}</li>
                <li><a href=""></a>{{categoria.nome_categoria}}</li>
                <li><a href=""></a>{{categoria.nome_categoria}}</li>
                <li><a href=""></a>{{categoria.nome_categoria}}</li>
                <li><a href=""></a>{{categoria.nome_categoria}}</li>
            </ul>
        </nav>
        {%endfor%}

        <form class="form-header" role="search">
            <input class="form-header-inp" type="search" placeholder="Pesquise Aqui..." aria-label="Search"/>
            <button class="form-header-button" type="submit">Buscar</button>
        </form>
     </header>
     <main>
    {% block content %}
    {% endblock %}
    </main>
    

     <footer class="footer-jlc mt-auto py-3">
        <p>Todos direitos reservados</p>
     </footer>


     

    
</body>
</html>