{% extends 'layout.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<link rel="stylesheet" href="../static/principal.css">

</head>

<body>


    <div id="amiguCarousel" class="carousel slide w-75 mx-auto mt-5" data-bs-ride="carousel" id="content-pginicial">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#amiguCarousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#amiguarousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#amiguCarousel" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner rounded-5 overflow-hidden">
            <div class="carousel-item active ">
                <img src="../static/img/logo-principal.png" class="d-block w-100  carousel-img" alt="Logo Juloc">
            </div>
            <div class="carousel-item">
                <img src="../static/img/migus_juloca.jpg" class="d-block w-100  carousel-img" alt="Turma Juloca">
            </div>
            <div class="carousel-item">
                <img src="../static/img/linhas_banner.png" class="d-block w-100 carousel-img" alt="Linhas Juloca">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#amiguCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#amiguCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <div class="conteiner_destaque mt-5">
        <section class="destaques">
            <div class="text">
                <h1><strong>Nossos destaques</strong></h1>
            </div>
        </section>
    </div>



    <main class="container py-5">

        <section class="info-section info-section-amigu p-5 mb-5 shadow-sm" id="content-amigurumi">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="display-5 fw-bold purple-text">Amigurumi</h2>
                    <div class="divider mx-auto"></div>
                </div>

                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/raposa.png" class="card-img-top" alt="Raposa">
                            <div class="card-body">
                                <h5 class="card-title">Raposa</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/girafa.png" class="card-img-top" alt="Girafa">
                            <div class="card-body">
                                <h5 class="card-title">Girafa</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/macaco.png" class="card-img-top" alt="Macaco">
                            <div class="card-body">
                                <h5 class="card-title">Macaco</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/capitao.png" class="card-img-top" alt="Capitão America">
                            <div class="card-body">
                                <h5 class="card-title">Capitão América</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="info-section info-section-kit p-5 mb-5 shadow-sm" id="content-kits">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="display-5 fw-bold purple-text">Kits</h2>
                    <div class="divider mx-auto"></div>
                </div>

                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/kit-capivara.png" class="card-img-top" alt="Capivara">
                            <div class="card-body">
                                <h5 class="card-title">Kit Capivara</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/kit-homem_aranha.png" class="card-img-top" alt="Homem Aranha">
                            <div class="card-body">
                                <h5 class="card-title">Kit Homem-Aranha</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/kit-leao.png" class="card-img-top" alt="Leão">
                            <div class="card-body">
                                <h5 class="card-title">Kit Leãozinho</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/kit-pato.png" class="card-img-top" alt="Patinho">
                            <div class="card-body">
                                <h5 class="card-title">Kit Patinho</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="info-section info-section-linha p-5 mb-5 shadow-sm" id="content-linha">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="display-5 fw-bold purple-text">Linhas</h2>
                    <div class="divider mx-auto"></div>
                </div>

                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/30.png" class="card-img-top" alt="Vermelha">
                            <div class="card-body">
                                <h5 class="card-title">Linha Vermelho-Vinho</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/29.png" class="card-img-top" alt="Rosa">
                            <div class="card-body">
                                <h5 class="card-title">Linha Rosa-Bebe</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/31.png" class="card-img-top" alt="Verde">
                            <div class="card-body">
                                <h5 class="card-title">Linha Verde-Brasil</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/28.png" class="card-img-top" alt="Azul">
                            <div class="card-body">
                                <h5 class="card-title">Linha Azul-Marinho</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="info-section info-section-ace p-5 mb-5 shadow-sm" id="content-acessorio">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="display-5 fw-bold purple-text">Acessórios</h2>
                    <div class="divider mx-auto"></div>
                </div>

                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/33.png" class="card-img-top" alt="Agulhas">
                            <div class="card-body">
                                <h5 class="card-title">Kit Agulhas</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/35.png" class="card-img-top" alt="Olhinhos">
                            <div class="card-body">
                                <h5 class="card-title">Olhos para amigurumi</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/34.png" class="card-img-top" alt="Marcadores">
                            <div class="card-body">
                                <h5 class="card-title">Marcadores coloridos</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../static/img/37.png" class="card-img-top" alt="Fita">
                            <div class="card-body">
                                <h5 class="card-title">Fita Métrica</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <div class="d-grid gap-2 col-6 mx-auto mt-4 solucao">
            <a class="btn" href="/produtos"> Ver mais </a>

        </div>

    </main>





        



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        {% endblock %}