{% extends 'layout.html' %}

{% block css_pessoal %}
<link rel="stylesheet" href="../static/produto_unico.css">
{% endblock %}

{% block content %} 
<section class="produto-container">

    <div class="galeria">

        <img
            src="{{unico.img1}}"
            class="imagem-principal"
            alt="Produto">

        <div class="miniaturas">

            <img src="{{unico.img1}}">

            <img src="{{unico.img2}}">

            <img src="{{unico.img3}}">

        </div>

    </div>

    <div class="info-produto">

        <div class="categoria">
            Categoria: Blush Cremoso
        </div>

        <h1 class="nome-produto">
            {{unico.nome_prod}}
        </h1>

        <div class="preco">
            {{unico.preco_prod}}
        </div>

        <div class="descricao">
            {{unico.descricao_prod}}
        </div>

    </div>


</section>


<!-- COMENTÁRIOS -->

<section class="comentarios">

    <input type="text" id="nome" placeholder="Seu nome">

    <textarea id="comentario" placeholder="Digite seu comentário"></textarea>

    <button id="btn-enviar-comentario">
        Enviar comentário
    </button>

</section>
{% endblock %}

