{% extends 'layout.html' %}

{%block css_pessoal%} 
<link rel="stylesheet" href="../static/produtos.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block content %}

   
<body>
    <section class="cards__container container my-4">
    <div class="row">
        {% for produto in item_produtos %}
            <div class="col">
                <div class="card"> 
                    <img src="{{produto.img_1}}" class="card-img-top" alt="{{produto.nome_prod}}">
                    <div class="card-body">
                        <h5 class="card-title">{{produto.nome_prod}}</h5>
                        <p class="card-text">R$ {{produto.preco_prod}}</p>
                        
                        <div class="card-actions">
                            <button class="card-button btn-comprar">Comprar Agora</button>
                            <button class="card-button btn-carrinho" aria-label="Adicionar ao carrinho">
                                <i class="bi bi-cart3"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
</body>


{% endblock %}