{% extends 'layout.html' %}

{% block css_pessoal %}
<link rel="stylesheet" href="../static/produto_unico.css">
{% endblock %}

{% block content %} 
<section class="produto-container">



    <div class="galeria">

        <img
            src="{{unico.img_1}}"
            class="imagem-principal"
            alt="Produto">

        <div class="miniaturas">

            <img src="{{unico.img_1}}">

            <img src="{{unico.img_2}}">

            <img src="{{unico.img_3}}">

        </div>

    </div>

    <div class="info-produto">

        <h1 class="nome-produto">
            {{unico.nome_prod}}
        </h1>

        <div class="preco">
            {{unico.preco_prod}}
        </div>

        <div class="descricao">
            {{unico.descricao_prod}}
        </div>

        <button class="btn-carrinho">
            Comprar
        </button>

    </div>

    <div class="acoes-produto">

    <div class="quantidade">
        <button>-</button>
        <span>1</span>
        <button>+</button>
    </div>



</div>


</section>


<!-- COMENTÁRIOS -->
<section class="novo-comentario">

    {% if session.get("usuario_logado") %}

        <h3>Deixe seu comentário</h3>

        <form action="/produto/comentarios" method="POST">

            <input
                type="hidden"
                name="cod_prod"
                value="{{ unico.cod_prod }}"
            >

            <textarea
                name="comentario"
                rows="5"
                required>
            </textarea>

            <button type="submit">
                Enviar comentário
            </button>

        </form>

    {% else %}

        <p class="aviso-login">
            Você precisa estar logado para deixar um comentário.
        </p>

        <div class="login-link">
            <a href="/login">Fazer login</a>
        </div>

    {% endif %}

</section>


<section class="lista-comentarios">

    <h3>Comentários</h3>

    {% for comentario in comentarios %}

        <div class="comentario">

            <strong>{{ comentario.email }}</strong>

            <p>{{ comentario.comentario }}</p>

        </div>

    {% endfor %}

</section>

{% endblock %}

