{% extends 'layout.html' %}
 {%block css_pessoal%}
    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="../static/produtos.css">
 {% endblock %}

{% block content %}

<section class="filtro-cat">
    <label for="filtro-categoria" class="filtro-categoria">Filtrar por:</label>
   
    <select id="filtro-categoria" name="categoria" class="filtro" onchange="idNavegar(this.value)">
        <option value="" disabled selected>Selecione uma categoria</option>
        {% for categoria in categorias %}
            <option value="{{ categoria.id_categoria }}">{{ categoria.nome_categoria }}</option>
        {% endfor %}
    </select>
</section>


<section class="cards__container container my-4">
    <div class="row">
        {% for produto in item_produtos %}
            <div class="col">
                <div class="card"> 
                    <img src="{{produto.img_1}}" class="card-img-top" alt="{{produto.nome_prod}}">
                    <div class="card-body">
                        <h5 class="card-title">{{produto.nome_prod}}</h5>
                        <p class="card-text">R$ {{produto.preco_prod}}</p>
                        
                        <div class="card-actions">
                            <a href="/produto/{{produto.cod_prod}}"><button class="card-button btn-comprar">Comprar Agora</button></a>
                            <button class="card-button btn-carrinho" aria-label="Adicionar ao carrinho">
                                <i class="bi bi-cart3"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<script>
function idNavegar(id_categoria) {
    if (id_categoria) {
        // Redireciona para /produtos/ID_DA_CATEGORIA
        window.location.href = "/produtos/" + id_categoria;
    }
}
</script>
{% endblock %}